.card
{
  margin: 7% auto;
  box-shadow: 0px 0px 100px 10px #d8c2ff;
}


@keyframes blur{
  from{
      text-shadow:0px 0px 10px #DDA0DD,
      0px 0px 10px #DDA0DD, 
      0px 0px 25px #DDA0DD,
      0px 0px 25px #DDA0DD,
      0px 0px 25px #DDA0DD,
      0px 0px 25px #DDA0DD,
      0px 0px 25px #DDA0DD,
      0px 0px 25px #DDA0DD,
      0px 0px 50px #DDA0DD,
      0px 0px 50px #DDA0DD,
      0px 0px 50px #DDA0DD,
      0px 0px 150px #DDA0DD,
      0px 10px 100px #DDA0DD,
      0px 10px 100px #DDA0DD,
      0px 10px 100px #DDA0DD,
      0px 10px 100px #DDA0DD,
      0px -10px 100px #DDA0DD,
      0px -10px 100px #DDA0DD;}
  }